.header {
      background: #0747a6;
      color: white;
      padding: 1rem 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
    }

.navbar-brand {
  font-weight: bold;
}

.sidebar .nav-link {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  color: #333;
}

.sidebar .nav-link:hover {
  background-color: #f8f9fa;
}

.card {
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}


.rotate-icon {
  transform: rotate(90deg);
  transition: transform 0.2s;
}

.submenu-line {
  border-left: 2px solid #ddd; /* Light vertical line */
  margin-left: 10px;
  padding-left: 10px;
}

.rotate-icon {
  display: inline-block;
  transform: rotate(90deg);
  transition: transform 0.2s;
}

a.nav-link {
  font-weight: 500;
}

.footer {
  border-top: 1px solid #444;
  background-color: #201e2b;
}

.footer a:hover {
  text-decoration: underline;
}